# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: d42353c6bf2bfc6903f3b785862c45c666284676cc43e9e6bd7e5a7e035750640aac2242d0fe5ad4438d85838facc2c5848f20d3db8aaa721a144e24e533bbf5

test:
  secret_key_base: 305dbf4ebf020ee1d0a3b9708900c88533e606054ae3d2af97340ee22af3a64df2a05ad1b878fb8ee93bc6433e90c80c9357ff19bc2be24dd4dafe8dd54abd0c

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
